<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="barraNavegar">
        <ul>
            <img src="../img/Bandera.png" alt="">
            <li><a href="">Elecciones 2023</a></li>
            <li><a href="">Creditos</a></li>
        </ul>
    </nav>

    <h1>Elecciones 2023</h1>

    <div class="agregarInfo">
    <h3>Ingresar nombre del candidato:</h3>
    <input type="text">
    <h3>Ingresar apellido del candidato:</h3>
    <input type="text">
    <h3>Ingresar fecha de nacimiento:</h3>
    <input type="date">
    <h3>Ingresar el link de la foto:</h3>
    <input type="text">
    <h3>Ingresar postulacion:</h3>
    <input type="text">
    <input type="submit" value="Agregar">
    </div>

</body>
</html>