<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body class="index">
    
    <nav class="barraNavegar">
        <ul>
            <img src="../img/Bandera.png">
            <li><a href="VerDetalleCandidato.cshtml">Elecciones 2023</a></li>
            <li><a href="">Creditos</a></li>
        </ul>
    </nav>

    <h1>Elecciones 2023</h1>

    @for (int i = 0; i < ViewBag.Partidos.Count; i++)
        {
        <div class = "conteiner"> 
            <div class="card">
                <p>@ViewBag.Partidos[i].Nombre</p>
                <img src="~/img/@ViewBag.Partidos[i].Logo">
                <a href='@Url.Action("VerDetallePartido", "Home", "@ViewBag.Partidos[i].idPartido")'>Ver detalles</a>
            </div>
        </div> 
        }
    </div>
</body>
</html>