@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body class="index">
    <h1>Elecciones 2023</h1>
    <div class="hojaCañete">
        <h2>Juntos por Cañete</h2>
        <img src="">
        <p></p>
        <input type="submit" value="Info">  
    </div>

    <div class="hojaBinker">
        <h2>Zurbanismo</h2>
        <img src="">
        <p></p>
        <input type="submit" value="Info">
    </div>

    <div class="hojaPablo">
        <h2>Zurbanismo</h2>
        <img src="">
        <p></p>
        <input type="submit" value="Info">
    </div>
</body>
</html>