<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body class="index">
    
    <nav class="barraNavegar">
        <ul>
            <img src="../img/Bandera.png}
            >
            <li><a href="VerDetalleCandidato.cshtml">Elecciones 2023</a></li>
            <li><a href="">Creditos</a></li>
        </ul>
    </nav>

    <h1>Elecciones 2023</h1>

    <div class="hojas">
        <div class="hojaCañete">
            <h2>Juntos por Cañete</h2>
            <img src="">
            <p></p>
            <a href='@Url.Action("VerDetallePartido")'><button type="button">Ver Detalles</button></a>
        </div>

        <div class="hojaBinker">
            <h2>Zurbanismo</h2>
            <img src="">
            <p></p>
            <a href='@Url.Action("VerDetallePartido")'><button type="button">Ver Detalles</button></a>
        </div>

        <div class="hojaPablo">
            <h2></h2>
            <img src="">
            <p></p>
            <a href='@Url.Action("VerDetallePartido")'><button type="button">Ver Detalles</button></a>
        </div>

        <div class="hojaFede">
            <h2>Zurbanismo</h2>
            <img src="">
            <p></p>
            <a href='@Url.Action("VerDetallePartido")'><button type="button">Ver Detalles</button></a>
        </div>
    </div>
</body>
</html>