<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Candidatos</title>
</head>
<body>
    <nav class="barraNavegar">
        <ul>
            <img src="../img/Bandera.png" alt="">
            <li><a href="">Elecciones 2023</a></li>
            <li><a href="">Creditos</a></li>
        </ul>
    </nav>

        <h1>Informacion Elecciones</h1>

    <div class="hojas">
        <div class="hojaCandidato">
            
        </div>

        <div class="hojaVicepresidente">

        </div>
    </div>
</body>
</html>