html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

.index{
  align-items: center;
}

.hojaCañete {
  background-color: #5e5757;
  width: 400px;
  padding: 20px;
}

.hojaCañete h2{
  text-align: center;

}

.hojaBinker {
  background-color: #5e5757;
  width: 400px;
  padding: 20px;
}

.hojaBinker h2{
  text-align: center;

}

.hojaPablo {
  background-color: #5e5757;
  width: 400px;
  padding: 20px;
}

.hojaPablo h2{
  text-align: center;

}